@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* ===== RESET CSS ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* ===== END RESET CSS ===== */
/* ===== FONTS ===== */

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.logo,
.contacts li a {
  font-weight: 400;
}

/* ===== END FONTS ===== */
/* ===== STRUCTURE ===== */

body {
  background-color: #111;
}

.all_wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

/* ===== HEADER ===== */

#header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 45px 35px 0 35px;
}

.logo {
  position: relative;
  z-index: 5;
}

.logo span:first-child {
  color: #878787;
}

.logo span:last-child {
  color: #fff;
}

.contacts li a {
  color: #878787;
}

.contacts li a:hover {
  color: #fff;
}

/* ===== END HEADER ===== */
/* ===== FIRST BLOCK ===== */

.top-page-box {
  height: 390px;
  padding-right: 35px;
  padding-left: 35px;
  margin-bottom: 60px;
}

.photo {
  position: relative;
  top: -60px;
  left: 90px;
  width: 400px;
  z-index: 1;
}

.top-page-box p {
  position: relative;
  top: 200px;
  right: 80px;
  float: right;
  width: 370px;
  color: #d6d6d6;
}

.top-page-box p span {
  color: #67F3B3;
}

h1 {
  position: relative;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

h1 span {
  color: #67F3B3;
}

/* ===== END FIRST BLOCK ===== */

/* ===== TRANSITIONS ===== */

/* ===== END TRANSITIONS ===== */