@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* ===== RESET CSS ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/* ===== END RESET CSS ===== */
/* ===== FONTS ===== */

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.wrapper-social-media span {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.logo,
.contacts li a {
  font-weight: 400;
}

/* ===== END FONTS ===== */
/* ===== STRUCTURE ===== */

body {
  background-color: #111;
}

.all_wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

/* ===== HEADER ===== */

#header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 45px 35px 0 35px;
}

.logo {
  position: relative;
  z-index: 5;
}

.logo span:first-child {
  color: #878787;
}

.logo span:last-child {
  color: #fff;
}

.contacts li a {
  color: #878787;
}

.contacts li a:hover {
  color: #fff;
}

/* ===== END HEADER ===== */
/* ===== FIRST BLOCK ===== */

.top-page-box {
  height: 390px;
  padding-right: 35px;
  padding-left: 35px;
  margin-bottom: 60px;
}

.photo {
  position: absolute;
  top: 20px;
  width: 420px;
  z-index: 1;
}

.top-page-box p {
  position: relative;
  top: 220px;
  right: 110px;
  float: right;
  width: 370px;
  color: #d6d6d6;
  z-index: 3;
}

.top-page-box p span {
  color: #67F3B3;
}

h1 {
  position: relative;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

h1 span {
  color: #67F3B3;
}

/* ===== END FIRST BLOCK ===== */
/* ===== SOCIAL MEDIA ===== */

#aside {
  position: relative;
  padding-right: 50px;
  float: right;
}

.wrapper-social-media {
  position: fixed;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  height: 200px;
}

.wrapper-social-media span {
  writing-mode: vertical-rl;
  transform: scale(1);
  color: #fff;
}

.social-media li a svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-media li a svg:hover {
  fill: #67F3B3;
}

.dash {
  width: 2px;
  background: #fff;
  height: 40px;
}

/* ===== END SOCIAL MEDIA ===== */
/* ===== TRANSITIONS ===== */

@media screen and (max-width: 925px) {
  h1 {
    width: 510px;
  }
  
  .top-page-box p {
    right: 20px;
  }
}

@media screen and (max-width: 765px) {
  .photo {
    left: -75px;
  }
}

@media screen and (max-width: 630px) {
  body {
    font-size: 12px;
  }

  .top-page-box p { 
    width: 230px;
  }

  h1 {
    width: 430px;
  }

  .wrapper-social-media {
    height: 185px;
  }
}

@media screen and (max-width: 525px) {
  #aside {
    padding-right: 35px;
  }

  #header,
  .top-page-box {
    padding: 30px 20px 0 20px;
  }

  .top-page-box {
    height: 280px;
    margin-bottom: 35px;
  }

  .photo {
    width: 300px;
  }

  .top-page-box p {
    top: 100px;
  }

  h1 {
    font-size: 2em;
    width: 330px;
  }
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 1.7em;
    width: 270px;
  }

  .photo {
    top: 30px;
  }

  .logo {
    width: 65px;
  }
}
/* ===== END TRANSITIONS ===== */